<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="db_QLdiem" connectionString ="Data Source=DESKTOP-S0RGPSM\SQLEXPRESS;Initial Catalog=db_QuanLyDiemTHPT;Integrated Security=True"
		providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>

<!--Database 01: LAPTOP-TFM1L503\DTB22-->
<!--Database 02: -->