<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name ="db_QLdiem" connectionString ="Data Source=LAPTOP-TFM1L503\DTB22;Initial Catalog=QuanLyDiemTHCS_G09;Integrated Security=True"
		providerName="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>